
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.content {
  margin-top: 4rem;

  h1 {
    font-size: 2rem;
    font-weight: 800;
  }

  p {
    font-size: .8rem;
  }
}

.jumbotron {
  & > * {
    text-align: center;
    color: black;
  }
}

.footer {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;

  & a:link,
  & a:visited {
    text-decoration: none;
  }
  & a:hover{
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid black;
  }  
}