
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.content {
  margin-top: 4rem;

  h1 {
    font-size: 2rem;
    font-weight: 800;
  }

  p {
    font-size: .8rem;
  }
}

.jumbotron {
  & > * {
    text-align: center;
    color: black;
  }
}

.footer {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;

  & a:link,
  & a:visited {
    text-decoration: none;
  }
  & a:hover{
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid black;
  }  
}

.user_info {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-content: center;

  h1 {
    font-size: 1.4rem;
  }

  .gravatar {
    border-radius: 50%;
    margin-bottom: 1rem;
  }
}

.form {
  width:  25rem;
  border: 1px solid black;
  margin : 0 auto;

  border-radius: 2px;

  &__header {
    background: grey;
    padding: 1rem;
    border-bottom: 1px solid black;
  }

  &__group {
    padding: .5rem 1rem;

    label {
      margin-bottom: .3rem;
    }
  }

  &__input {
    display: block;
    width: 100%;
  }

  &__alert {
    margin: 1rem;
  }

  &__footer {
    padding: 0 1rem;

  }

  &__avatar {
    // text-align: center;
    border-radius: 50%;
    display: block;
    width: 5rem;
    margin: 0 auto;
    margin-top: 1rem;
  }

  &__submit {
    margin: 1rem;
      padding: 5px 10px;
      border: none;
      border-radius: 10px;
      background: blue;
      color: #cccccc;
      font-weight: 800;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .8);

      transition: all .2s;

    &:hover {
      color: blue;
      background: #ccc;
      transform: translateY(-5px);
      box-shadow: 0 3px 5px rgba(0, 0, 0, .8);
    }

    &:active {
      color: blue;
      background: #ccc;
      transform: translateY(-2px);
      box-shadow: 0 3px 5px rgba(0, 0, 0, .8);
      
    }
  }
}

#logou {
  cursor: default;
  &:hover {
    background-color: transparent;
  }
}

.list-container {
  margin-top: 5rem;
}

.list {

  &__item {
    list-style: none;
    margin: 1rem 0;
    border: 1px solid lightblue;
    padding: 1rem;
    border-radius: 5px;
  }

  &__gravatar {
    border-radius: 50%;
    width: 5rem;
  }

  &__name {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 800;
  }
}